body {
    width:100%;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(white, hsl(176, 100%, 88%),#c4fcf8,#dbfffd);
    margin:0%;
    }

.head {
    max-width: 100%;
    position: relative;
}

.box {
    position: relative;
    width: 500px;
    height: auto;
    background: rgba(1, 126, 169, 0.66);
    border-radius: 12px;
}
.box img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 50px;
}
.box-text{
    text-align: center;
    width: 50%;
}

.container {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0% 10%;
    box-sizing: border-box;
    align-items: center;
    margin-top: 5%;
}

.container2 {
    display: flex;
    max-width: 100%;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

.head h1{
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #003243;
}

.section-cards {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0% 10%;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5%;
    flex-direction: row;
}
.card {
    width: 350px;
    box-sizing: border-box;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 12px;
    text-align: center;
    margin: 10px 10px 30px 10px;
    padding: 10px 10px 10px 10px;
}

.card-img {
    width: auto;
    height: auto;
    background: #9AD7E4;
    border-radius: 12px;
}

.card-img img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 800px) {
    .container {
        flex-direction: column;
    }
    .container2 {
        flex-direction: column;
    }
    .section-cards {
        flex-direction: column;
    }
.section-cards {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0% 10%;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 5%;
    flex-direction: row;
}
.card {
    width: 350px;
    box-sizing: border-box;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 12px;
    text-align: center;
    margin: 10px 10px 30px 10px;
    padding: 10px 10px 10px 10px;
}

.card-img {
    width: auto;
    height: auto;
    background: #9AD7E4;
    border-radius: 12px;
}

.card-img img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.box-text {
    text-align: center;
    width: 100%;
}

}


