@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,200;0,500;0,700;1,700&display=swap');


/*body*/
    html {
    width:100%;
    }

    body {
    



    width:100vw;
    font-family: 'Poppins', sans-serif;
    background-color:#FFFFFF;
    margin:0%;
    }


    /*header navbar*/


    header {
    width:100%;
    }

    nav { 

    height:70px;
    width:100%;
    display: flex;
    justify-content: space-between;   
    padding: 0% 4%;
    box-sizing:border-box;
    }

    ul {

    display: flex;
    justify-content: space-between; 
    }    

    nav li {
    display:flex;
    text-decoration: none;
    list-style: none;


    }  

    nav>li:nth-child(9) img {
    height:40px;
    }

    nav li a {

    text-decoration: none;
    list-style: none;
    white-space: nowrap;
    color:#003243;
    font-size: 15px;
    font-weight:600;



    }

    nav li>*{
    margin:auto;
    }

    .main {
        color:#9AD7E4;
        font-weight:800;

    }


    .itemseperate {
        padding-left:4%;
        border-left:1px solid #003243;
        margin: 10px 0px
        
    }


  

    .logo {
    height:60px;


    }

   /*header banner*/
    .banner {
    margin-top:4%;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    }

    .chica {
    width:45%;
  
    }

    .bannertext {
    text-align:center;
    height:300px;
    width:35%;
    }

    .banner h1 {
    color: #003243;
    font-size: 30px;

    }

    button {
    background: rgba(0, 249, 234, 0.56);
    width:35%;
    border:none;
    border-radius: 20px;
    padding:3%;
    color: #003243;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;

    }

    /*second and third section*/

    .container1, .container2 {
    margin-top:8%;
    }

    .container1 h1 {
    color:#017EA9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size:40px;
    text-align: center;
    }

    .container1Sub  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    }


    .container2Sub
    {
        display: flex;
        justify-content: center;
        align-items: center;

        }


    .container1Sub img {
    width:30%;
    height:300px;
    margin:2%;
    border-radius:100px;
    }

    .container1Sub h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #003243;
    padding-bottom:2%;
    border-bottom: 3px solid #00F9EA;
    }

    .container1Sub div {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    }

    .container1Sub p  {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 14px;
    line-height: 36px;
    text-align: center;

    color: #017EA9;
    }

    .container2 h1 {
    color:#017EA9;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size:40px;
    text-align: center;


    }

    hr {
    width:40%;
    border: 2px solid #00F9EA;
    text-align: center;
    margin-bottom:2%;
    }

    .container2Sub img {
    width:85%;
    margin:2%;
    height:300px;
    }

    .container2Sub div {
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    }

    .container2Sub h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    text-align: center;

    color: #003243;
    }

    .container2Sub p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 275;
    font-size: 14px;
    line-height: 34px;
    text-align: center;
    width:85%;
    color: #017EA9;
    }

    /*footer*/

    footer {
       
    
        margin-top:15px;
        height:100px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5%;
        padding: 0% 4%;
    }

    footer li {

        text-decoration: none;
        list-style: none;
        display:flex;
    }

    footer li>* {
        margin: auto;
    }

    footer li a {
        text-decoration: none;
    list-style: none;
    white-space: nowrap;
    color: #003243;
    font-style: normal;
    font-weight: 275;
    }

    @media only screen and (min-width: 0px) and (max-width: 770px ) { 
    

    }

    @media (min-width: 770px) {
        nav { 

            height:90px;
            flex-wrap: wrap;
            width:100%;
            display: flex;
            justify-content: space-between;   
            padding: 0% 4%;
            box-sizing:border-box;
            }
        
            ul {
        
            display: flex;
            justify-content: space-between; 
            }  
    }



    @media (min-width: 800px) { 

        .itemseperate {
            padding-left:4%;
            border-left:1px solid #003243;
            margin: 10px 0px
            
        }
         nav { 

            height:90px;
            flex-wrap: wrap;
            width:100%;
            display: flex;
            justify-content: space-between;   
            padding: 0% 4%;
            box-sizing:border-box;
            }
        
            ul {
        
            display: flex;
            justify-content: space-between; 
            }  
    }