@import url('font.css');

nav { 

    height:70px;
    width:100%;
    display: flex;
    justify-content: space-between;   
    padding: 0% 4%;
    box-sizing:border-box;
    flex-wrap: wrap;
    }

    ul {

    display: flex;
    justify-content: space-between; 
    }    

    nav li {
    display:flex;
    text-decoration: none;
    list-style: none;


    }  

    nav>li:nth-child(9) img {
    height:40px;
    }

    nav li a {

    text-decoration: none;
    list-style: none;
    white-space: nowrap;
    color:#003243;
    font-size: 15px;
    font-weight:600;
 }

    nav li>*{
    margin:auto;
    }

    .logo {
      height:60px;
      }
   
      .itemseperate {
         padding-left:4%;
         border-left:1px solid #003243;
         margin: 10px 0px
         
     }
     .main {
      color: #9AD7E4;
      font-weight: 800;
  }